CSharpAdvanceMasters/.vs/CSharpAdvanceMasters/FileContentIndex/e779121f-5bcb-4b30-8348-92e35ba5ccbf.vsidx
CSharpAdvanceMasters/.vs/CSharpAdvanceMasters/FileContentIndex/176a6d16-a08c-4ce1-b36f-2afaa40b8e69.vsidx
CSharpAdvanceMasters/.vs/CSharpAdvanceMasters/FileContentIndex/443ed568-ff6d-469c-8009-5af34515d9cd.vsidx
CSharpAdvanceMasters/.vs/CSharpAdvanceMasters/FileContentIndex/72c564d2-e61d-4cf9-8097-63fe19dcb820.vsidx
CSharpAdvanceMasters/.vs/CSharpAdvanceMasters/FileContentIndex/c7c2ac0b-020d-4ebf-b911-6a958f9b9680.vsidx
CSharpAdvanceMasters/Assignment_01/obj/Debug/net6.0/Assignment_01.AssemblyInfo.cs
CSharpAdvanceMasters/Assignment_01/obj/Debug/net6.0/Assignment_01.AssemblyInfoInputs.cache
CSharpAdvanceMasters/Assignment_01/obj/Debug/net6.0/Assignment_01.csproj.AssemblyReference.cache
CSharpAdvanceMasters/Assignment_01/obj/Debug/net6.0/Assignment_01.GeneratedMSBuildEditorConfig.editorconfig
CSharpAdvanceMasters/.vs/CSharpAdvanceMasters/FileContentIndex/01596c8d-5fec-4c23-8ded-8bf2aef4f7dc.vsidx
CSharpAdvanceMasters/.vs/CSharpAdvanceMasters/FileContentIndex/76ef856e-0ddd-4609-a767-c32ea86b4c13.vsidx
/CSharpAdvanceMasters/Assignment_04/Database/Assignment_db_log.ldf
